<template lang="pug">
  recruitment-form
</template>

<script>
import RecruitmentForm from "./recruitment-form.vue"

export default {
  name: "App",
  components: {
    RecruitmentForm
  }
}
</script>

<style scoped>
</style>
