@import "normalize.css";
@import "./variables.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i|Raleway:400,400i,700,700i|Open+Sans:400,400i,700,700i&subset=latin-ext');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--navColor);
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: color(var(--navColor) shade(50%));
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: var(--navColor);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  cursor: pointer;
  transition: color 300ms, background-color 300ms;

  &:hover {
    background-color: white;
    color: var(--navColor);
  }
  &.remove {
    background-color: color(var(--navColor) alpha(90%));
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    padding: 2px;
    padding-left: 4px;
    margin-top: 5px;
    line-height: 1.2em;
    transition: none;
    border-radius: 50%;
    &:after {
      content: "x";
      font-size: .9em;
    }
    &:hover {
      color: black;
    }
  }
  &.submit {
    margin: auto;
    display: block;
    border: 1px solid var(--navColor);
    &.--disabled {
      cursor: default;
      border: 1px solid transparent;
      background-color: var(--navColor)99;
      color: white;
    }
    &.--disabled:hover {
      background-color: var(--navColor)99;
      color: white;
    }
  }
}

input {
  padding: .5em;
}

input[type="file"] {
  color: transparent;
}

select {
  display: inline-block;
  padding: .5em;
  background-color: white;
}

input, textarea, select, button.submit, .input, .file-list {
  width: 25em;
}

.mandatory .label:after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.file-list {
  list-style: none;
  padding-left: 0;
  margin: auto;
  & .file-line {
    position: relative;
    display: flex;
    height: 2em;
    line-height: 2em;
    margin-top: 3px;
    & span {
      margin-left: 2em;
    }
  }
}

.choice-group {
  display: inline-block;
  border: none;
  & label {
    margin: 5px 5px 0 15px;
    display: inline-block;
  }
}
